:root{
    --lilac: #bec5e8;
    --light-lilac: #dce0ec;
    --mauve-pink:#966461;
    --light-gray:#747b8b;
    --black: #0000;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    background-color: var(--lilac)
}

.navbar-brand{
    margin: auto;
}

.img__logo{
    animation: rotation 5s infinite linear;
}

.row{
    width: 90%;
    margin: 20px auto;
}

.price{
    margin-bottom: 0;
}

.card-body{
    padding: 0;
}

.add{
    width: 50%;
    margin: 0 auto;
    margin-bottom: 8px;
    border-radius: 20px;
    text-align: center;
    text-decoration: none;
    background-color: var(--light-lilac);
}


@keyframes rotation {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(359deg);
    }
}

