:root{
    --lilac: #bec5e8;
    --light-lilac: #dce0ec;
    --mauve-pink:#966461;
    --light-gray:#747b8b;
    --black: #000;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
   font-family: "Roboto Slab", serif; 
  /*   font-family: "Kanit", sans-serif; */
}

.navbar{
    background-color: var(--lilac);
    height: 70px;
}

.navbar_left{
    display: flex;
    justify-content: center;
}

.navbar-brand{
    font-family: "Kanit", sans-serif; 
    font-weight: bold;
    color: var(--light-gray);
}

.img__logo{
    animation: rotation 5s infinite linear;
}

.img-cart{
    width: 30px;
    height: 30px;
    margin: 0 auto;
    color: antiquewhite;
}

.row{
    width: 90%;
    margin: 20px auto;
}

.card{
    padding: 0;
}

.price{
    margin-bottom: 0;
    color: var(--light-gray);
}


.card-body{
    padding: 0;
}

.card-title{
    color: var(--black);
}

.add{
    width: 40%;
    display: inline;
    margin: 0 auto;
    margin-bottom: 8px;
    border-radius: 20px;
    text-align: center;
    text-decoration: none;
    background-color: var(--light-lilac);
    color: var(--mauve-pink);
    font-size: 17px;
}


@keyframes rotation {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(359deg);
    }
}

